:root {
    /* Style de couleur */
    --venetian--red: rgba(197, 25, 23, 1);
    --black: rgba(0, 0, 0, 1);
    --white: rgba(255, 255, 255, 1);
    --charcoal: rgba(14, 57, 73, 1);
    --steel--teal: rgba(106, 136, 146, 1);
    --platinium: rgba(229, 229, 229, 1);

    /* Tailles de police de caractère */
    /* base size: body-article (16px) */
    --title--h2: 1.38rem;
    --title--h1: 2.19rem;
    --title--h4: 1.5rem;
    --title--h3: 1.5rem;
    --title--article: 1.25rem;
    --title--h5: 1.19rem;
    --body-bold: 1.25rem;
    --body: 1.25rem;
    --small-text: 0.62rem;
    --text--footer: 0.94rem;
    --caption: 0.75rem;
    --chapo: 0.94rem;
    --body-article-semi-bold: 1rem;
    --body-article: 1rem;
    --noms-douvrages: 1.12rem;
    --quote: 1.19rem;
    --title--h6: 1.19rem;
    --body-underline: 1rem;

    /* Polices de caractère */
    --font-serif: 'Libre Baskerville', serif;
    --font-sans-serif: 'Open Sans', sans-serif;
}