.footer {
    background-color: var(--charcoal);
}

.footer__header {
    display: flex;
    align-items: center;
    max-height: 100px;
}

.footer__logo {
    transform: scale(0.41);
}

.footer__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.footer__link {
    text-decoration: none;
    justify-content: center;
    color: var(--white);
    font-size: var(--text--footer);
}

.footer__list-social {
    display: flex;
    gap: 20px;
    padding-left: 115px;
    padding-top: 30px;
}

.footer__link-mmi {
    display: flex;
    align-items: center;
    padding-left: 60px;
    padding-right: 20px;
}

.footer__text-mmi {
    font-size: var(--small-text);
    color: var(--white);
}

.footer__copyright {
    color: var(--white);
    font-size: var(--small-text);
    padding: 10px 0px 10px 130px;
}
