.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-top: 20px;
}

.header__bg {
    position: absolute;
    z-index: 0;
    top: 0;
}

.header__logo-index {
    transform: scale(0.5);
    position: absolute;
    z-index: 1;
    left:100px;
    top: -15px;
}

.header__logo {
    transform: scale(0.335);
    position: absolute;
    z-index: 1;
    margin-top: -55px;
    margin-left: -50px;
}

.header__title {
    font-weight: normal;
    position: absolute;
    z-index: 0;
    color: var(--white);
    padding-left: 80px;
    margin-top: 8px;
}

.header__end {
    position: absolute;
    right: 10px;
}