/* Le block qui compose la card "Max" de la page d'accueil */
.section__card {
    background-color: var(--steel--teal);
    min-height: 830px;
}

/* Le block qui compose la card "L'article" de la page d'accueil */
.section__card--article {
    background-color: var(--steel--teal);
    min-height: 700px;  
}

/* Le block qui compose la card "La Vague" de la page d'accueil */
.section__card--alternate {
    min-height: 720px;
}

/* Image associé aux cards sur la page d'accueil */
.card__img {
    transform: scale(0.83);
}

/* Titre associé aux cards de la page d'accueil */
.card__title {
    font-size: var(--title--h4);
    font-weight: normal;
    text-align: center;
    color: var(--white);
    margin: 0;
    margin-top: -20px;
}

/* Titre associé à la card "La Vague" */
.card__title--alternate {
    font-size: var(--title--h4);
    font-weight: normal;
    text-align: center;
    color: var(--black);
    margin: 0;
    margin-top: -20px;
}
/* Tweet des cards sur la page d'accueil */
.card__caption {
    font-size: var(--body);
    color: var(--white);
    padding-left: 20px;
    padding-right: 20px;
}

/* Tweet de la card "La Vague" sur la page d'accueil */
.card__caption--alternate {
    font-size: var(--body);
    color: var(--black);
    padding-left: 20px;
    padding-right: 20px;
}

/* bouton d'action des cards sur la page d'accueil */
.card__link{
    font-size: var(--body);
    text-transform: uppercase;
    color: var(--venetian--red);
    display: block;
    text-align: center;
    background-color: var(--white);
    min-height: 60px;
    padding: 20px 10px 20px 10px;
    margin-left: 10px;
    margin-right: 10px;
}

/* bouton d'action de  la card "La Vague" sur la page d'accueil */
.card__link--alternate {
    font-size: var(--body);
    text-transform: uppercase;
    color: var(--white);
    display: block;
    text-align: center;
    background-color: var(--venetian--red);
    min-height: 60px;
    padding: 20px 10px 20px 10px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Titre principal des pages article */
.section__title {
    padding-top: 80px;
    font-size: var(--title--h3);
    font-family: var(--font-serif);
    text-align: center;
}

/* Titre des différents paragraphes des articles */
.article__title {
    display: flex;
}

/* Chapo d'introduction des pages d'article */
.article__chapo {
    font-size: var(--chapo);
    font-style: italic;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Les images illustrant le contenu textuel des articles */
.article__img {
    display: block;
    justify-content: center;
    margin: 0;
}

/* Les images illustrant les ouvrages en fin d'article */
.ouvrage__img {
    display: block;
    padding-left: 60px;
}

/* Les titres associés aux images d'illustration des ouvrages en fin d'article */
.ouvrage__title {
    text-align: center;
    font-size: var(--noms-douvrages);
    font-family: var(--font-sans-serif);
    font-weight: normal;
    font-style: italic;
}

/* la présentation associés aux images d'illustration des ouvrages en fin d'article */
.ouvrage__text {
    min-width: 150px;
    margin: 0;
    padding-left: 100px;
    padding-right: 90px;
    padding-top: 0;
}

/* Block qui regroupe l'ensemble d'un article (image, titre, paragraphe...) */
.article {
    padding-left: 10px;
    padding-right: 10px;
}