/* Le block qui compose la card "Max" de la page d'accueil */
.section__card {
    background-color: var(--steel--teal);
    min-height: 840px;
}

/* Le block qui compose la card "L'article" de la page d'accueil */
.section__card--article {
    background-color: var(--steel--teal);
    min-height: 730px;  
}

/* Le block qui compose la card "La Vague" de la page d'accueil */
.section__card--alternate {
    min-height: 730px;
}

/* Image associé aux cards sur la page d'accueil */
.card__img {
    transform: scale(0.83);
}

/* Titre associé aux cards de la page d'accueil */
.card__title {
    font-size: var(--title--h4);
    font-weight: normal;
    text-align: center;
    color: var(--white);
    margin: 0;
    margin-top: -20px;
}

/* Titre associé à la card "La Vague" */
.card__title--alternate {
    font-size: var(--title--h4);
    font-weight: normal;
    text-align: center;
    color: var(--black);
    margin: 0;
    margin-top: -20px;
}
/* Tweet des cards sur la page d'accueil */
.card__caption {
    font-size: var(--body);
    color: var(--white);
    padding-left: 20px;
    padding-right: 20px;
}

/* Tweet de la card "La Vague" sur la page d'accueil */
.card__caption--alternate {
    font-size: var(--body);
    color: var(--black);
    padding-left: 20px;
    padding-right: 20px;
}

/* bouton d'action des cards sur la page d'accueil */
.card__link{
    font-size: var(--body);
    text-transform: uppercase;
    color: var(--venetian--red);
    display: block;
    text-align: center;
    background-color: var(--white);
    min-height: 60px;
    padding: 20px 10px 20px 10px;
    margin-left: 10px;
    margin-right: 10px;
}

/* bouton d'action de  la card "La Vague" sur la page d'accueil */
.card__link--alternate {
    font-size: var(--body);
    text-transform: uppercase;
    color: var(--white);
    display: block;
    text-align: center;
    background-color: var(--venetian--red);
    min-height: 60px;
    padding: 20px 10px 20px 10px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Titre principal des pages article */
.section__title {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 70px;
    font-size: var(--title--h3);
    font-family: var(--font-serif);
}
.span__title {
    background-color: var(--white);
    padding-left: 5px;
    padding-right: 5px;
}

.section__title::before {
    content: "";
    position: absolute;
    z-index: -1;
    margin-top: 10px;
    height: 4px;
    width: 100%;
    background: var(--venetian--red);
}

/* Titre des différents paragraphes des articles */
.article__title {
    display: flex;
    justify-content: center;
    text-align: center;
}

.article__title::before {
    content: "";
    position: absolute;
    z-index: -1;
    margin-top: 10px;
    height: 4px;
    width: 100%;
    background: var(--venetian--red);
}

/* Chapo d'introduction des pages d'article */
.article__chapo {
    font-size: var(--chapo);
    font-style: italic;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Les images illustrant le contenu textuel des articles */
.article__img {
    display: block;
    justify-content: center;
    margin: 0;
}

/* Les images illustrant les ouvrages en fin d'article */
.ouvrage__img {
    display: block;
    padding-left: 60px;
}

/* Les titres associés aux images d'illustration des ouvrages en fin d'article */
.ouvrage__title {
    text-align: center;
    font-size: var(--noms-douvrages);
    font-family: var(--font-sans-serif);
    font-weight: normal;
    font-style: italic;
}

/* la présentation associés aux images d'illustration des ouvrages en fin d'article */
.ouvrage__text {
    min-width: 150px;
    margin: 0;
    padding-left: 100px;
    padding-right: 90px;
    padding-top: 0;
}

/* Block qui regroupe l'ensemble d'un article (image, titre, paragraphe...) */
.article {
    padding-left: 10px;
    padding-right: 10px;
}

.questions__title {
    font-size: var(--title--h6);
    font-weight: bold;
    margin-left: 30px;
    margin-right: 10px;
    display: flex;
}

.questions__title::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    padding: 0;
    height: 4px;
    width: 50px;
    background: var(--venetian--red);
    margin-top: 5px;

}

.questions__span {
    background-color: var(--white);
    padding-left: 5px;
    padding-right: 5px;
}

.questions__text {
    padding: 0;
    margin-left: 35px;
    margin-top: -20px;
    margin-bottom: 15px;
}

.questions__mailto {
    color: var(--black);
    text-decoration: underline;
    padding: 0;
    margin-left: 35px;
    margin-top: -20px;
    margin-bottom: 50px;
    display: flex;
}

/* /////////////////// CARROUSEL ///////////////////*/

.carrousel-grid {
    display: grid;                                    /* Disposition en grille CSS */
    grid-template-columns: 1fr 2fr 1fr;                /* Tailles des colonnes : chaque ligne contient 3 cellules */
    row-gap: 0px;                                    /* Espacement entre les lignes */
    column-gap: 0px;                                /* Espacement entre les colonnes */
    grid-auto-rows: minmax(100px, auto);
}

.carrousel {
    grid-column: 2;
    grid-row: 2;
    width: 375px;
    padding: 0px;
    position: relative;
    overflow: hidden;
}

.images6 {
    width: 375px;
    height: 590px;
    left:0;
}

.images6 img {
    width: 375px;
    height: 590px;
}

.image6 {
    position: absolute;
    top:0;
    left:0;
    z-index: 0;
}