input {
    display: flex;
    justify-content: center;
    width: 315px;
    height: 40px;
    border-color: var(--venetian--red);
    color: var(--steel--teal);
    border-width: 1px;
}

.form__design {
    display: flex;
    justify-content: center;
}

.form__design::before {
    content: "";
    position: absolute;
    z-index: -1;
    margin-top: 4%;
    margin-right: 670px;
    height: 4px;
    width: 330px;
    background: var(--venetian--red);
}

.span__title {
    background-color: var(--white);
    padding-left: 5px;
    padding-right: 5px;
}

textarea {
    display: flex;
    width: 315px;
    border-color: var(--venetian--red);
    color: var(--steel--teal);
}

.form__checkbox {
    width: 11px;
}

.checkbox {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
    gap: 10px;
}

.form__mentions {
    font-size: var(--small-text);
    font-style: italic;
    margin-left: 30px;
    margin-right: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.form__contact {
    text-decoration: underline;
    color: var(--black);
}

.form__mailto {
    color: var(--black);
    margin-left: 30px;
    font-size: var(--small-text);
    font-style: italic;
}

.form__send {
    font-size: var(--body);
    text-transform: uppercase;
    color: var(--white);
    display: block;
    text-align: center;
    background-color: var(--venetian--red);
    min-height: 60px;
    width: 355px;
    padding: 20px 10px 20px 10px;
    border: 0;
}