.hero__background {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -1;
}

.hero__title {
    font-size: var(--title--h1);
    color: var(--white);
    font-weight: normal;
    text-align: center;
    padding-top: 60px;
}

.hero__sub-title {
    color: var(--white);
    text-align: center;
    padding-top: 220px;
}

.hero__chapo {
    font-size: var(--body);
    padding-top: 50px;
}

.chapo__bold {
    font-size: var(--body-bold);
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
}

.chapo__title {
    font-size: var(--title--h3);
    letter-spacing: 5%;
    display: flex;
    align-items: center;
    margin-left: 65px;
    padding-top: 0px;
}

/*
.chapo__title::before {
    content: "";
    width: 50px;
    height: 4px;
    background-color: var(--venetian--red);
    display: block;
    margin-right: 10px;
}

.chapo__title::after {
    content: "";
    width: 63px;
    height: 4px;
    background-color: var(--venetian--red);
    display: block;
    margin-left: 10px;
}*/

.chapo__arrow {
    padding-left: 170px;
}
