.menu {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--charcoal);
    font-size: var(--title--h3);
    transition: all 1s ease;
    transform: translateX(100%);
    z-index: 4;
}

.menu--open {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.menu__title {
    color: var(--white);
    padding-top: 30px;
    padding-left: 20px;
    font-family: var(--font-serif);
    font-size: var(--title--h3);
}

.menu__list {
    margin-top: 40px;
    margin-left: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.menu__item {
    margin-top: 10%;
}

.menu__link {
    color: var(--black);
    text-decoration: none;
    align-items: flex-end;
    font-size: var(--title--h3);
    font-family: var(--font-serif);
}

.menu__icon {
    transform: scale(0.5);
}

.menu__button {
    display: flex;
    flex-direction: row;
    min-height: 93px;
    min-width: 340px;
    background-color: var(--white);
    margin-bottom: 30px;
    margin-right: 20px;
}

/* Mise en forme du bouton de menu "Hamburger" */
.menu-btn {
    position: relative;
    z-index: 5;
    width: 30px; 
    background: none;
    border: none;
}
  
.menu-btn__bar,
.menu-btn__bar::before,
.menu-btn__bar::after {
    content: '';
    background: var(--white);
    height: 4px;
    border-radius: 10px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 10;
    transition: all .8s ease;
}
  
.menu-btn__bar::before {
    top: -10px;
}
  
.menu-btn__bar::after {
    top: 10px;
}
  
.menu-btn--open .menu-btn__bar,
.menu-btn--open .menu-btn__bar::before,
.menu-btn--open .menu-btn__bar::after {
    background-color: var(--white);
    transform: rotate(135deg);
}
  
.menu-btn--open .menu-btn__bar::before,
.menu-btn--open .menu-btn__bar::after {
    top: 0;
    transform: rotate(90deg);
}
  
.header--atTop .menu-btn:not(.menu-btn--open) .menu-btn__bar,
.header--atTop .menu-btn:not(.menu-btn--open) .menu-btn__bar::before,
.header--atTop .menu-btn:not(.menu-btn--open) .menu-btn__bar::after {
    background-color: var(--gray-black);
}